.box-layout {
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out($color: white, $amount: .15);
    border-radius: 3px;
    padding: $l_size $m_size;
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 $m_size 0;
    line-height: 1;
}

.box-layout__action {
    padding: $s_size;
}